*, html, body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

body {
    background-color: #fff;
    background-image: url("https://1.dam.s81c.com/m/497fcb8b381159ff/original/04012020-ls-covid-19-response-24121-mobile-720x360.jpg"),
                      url("https://spectrum.ieee.org/image/MzU5MzU1Nw.jpeg"),
                      url("https://cnet2.cbsistatic.com/img/G5uxkfVtlazOnhRXtSMC4ZZKiPk=/1200x675/2020/03/17/fb401153-4120-47ce-97c1-bb939ed8bccf/coronavirus-covid-19-global-cases-johnshopkinscsse-mar172020.jpg"),
                      url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTY7eQV6EH44KvOLvnWopMT16FCHTQ2-DACPBeq545fXiyV6tFW&usqp=CAU");                                                      ;
}

p, h1, h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  font-size: 17px;
  line-height: 26px;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

h1.title {
    font-size: 40px;
    margin-top: 1em;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

h2 {
  font-size: 15px;
  margin: 0;
  padding: 0;
  color: #666;
  font-weight: normal;
}

.content {

}

.analyze {

}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

#result-label {
  display: block;
  padding: 20px;
  font-size: 20px;
}

button.choose-file-button {
    border-radius: 8px;
    background-color: #7052CB;
    border: none;
    font-size: 20px;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.25s ease;
}

button.choose-file-button:hover {
  transform: scale(1.05);
}

button.choose-file-button:disabled {
  opacity: 0.5;
}

button.analyze-button {
    border: solid 1px #7052CB;
    border-radius: 8px;
    background-color: #7052CB;
    font-size: 20px;
    color: #ffffff;
    padding: 8px 10px;
}

button:focus {
    outline: 0;
}

.moreInfo {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.moreInfo h3 {
  font-size: 25px;

}

.moreInfo p span {
  font-style: italic;
  font-weight: bold;
}

#upload-label, #image-picked, #analyze-button, #result-label {
  display: none;
}

.label {
    background-color: #ffb2ae;
    border-radius: 9px;
    margin: 20px;
    border: 1px solid red;
    color: red;
    font-weight: bold;
    font-size: 20px;
}
